<!-- Javascript Files
================================================== -->

@@if(map === "true") {
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAOXAuoAiVG4lCX4G3bGbJtWIkEJ2Uwiw&callback=initMap&v=weekly" defer></script>
  <script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      const uluru = { lat: 25.342874, lng: 55.391515 };
      // The map, centered at Uluru
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 16,
        center: uluru,
      });
      // The marker, positioned at Uluru
      const marker = new google.maps.Marker({
        position: uluru,
        map: map,
      });
    }

    window.initMap = initMap;
  </script>
}
<script src="js/main.js"></script>

</div><!-- Body inner end -->
</body>

</html>