/* Button */
.btn {
  &:active,
  &:focus {
      box-shadow: none !important;
  }
}

.btn-primary,
.btn-dark {
  border: 0;
  border-radius: 3px;
  padding: 12px 20px 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;
  font-family: $font-secondary;
  transition: 350ms;
  font-size: 14px;

  @include tablet {
    font-size: 13px;
  }
}

.btn-white.btn-primary {
  background: $color-white;
  color: $color-primary;
}

.btn-primary {
  background: $color-primary;
  color: $color-primary-lightest;
}

.btn-dark {
  background: $color-black;
}

.btn-primary:hover,
.btn-dark:hover,
.btn-white.btn-primary:hover {
  background: $color-black;
  color: $color-white;
  &:active,
  &:focus {
      color: $color-white;
      background-color: $color-black;
  }
}
