$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$color-primary:#003E6B;
$color-primary-dark:#2680C2;
$color-primary-darker:#0F609B;
$color-primary-light:#4098D7;
$color-primary-lighter:#84C5F4;
$color-primary-lightest: #DCEEFB;

$color-white:#F0F4F8;
$color-black:#102A43;
$color-grey-light:#BCCCDC;
$color-grey-lightest:#D9E2EC;